<% select_nav 'Books' %>

<div id='page_content'>
  <div class='page-header'>
    <h2>
      Book
      <% if BookPolicy.new(current_user, @book).edit? %>
        - <%= link_to 'Edit', edit_book_url(@book) %>
        - <%= link_to 'Allocate', new_book_book_allocation_url(@book) %>
      <% end %>
    </h2>
  </div>

  <div class='page-body'>
    <div class='row'>
      <div class='col-md-6'>
        <strong style='margin-right:10px;'>Title: </strong>
        <%= @book.title %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6'>
        <strong style='margin-right:10px;'>Author: </strong>
        <%= @book.author %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6'>
        <strong style='margin-right:10px;'>ISBN: </strong>
        <%= @book.isbn %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6'>
        <strong style='margin-right:10px;'>Total Copies: </strong>
        <%= @book.quantity %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6'>
        <strong style='margin-right:10px;'>Available Copies: </strong>
        <%= @book.availability %>
      </div>
    </div>
  </div>
</div>
